DB_HOST=
DB_PORT=
DB_TYPE=
DB_USER_NAME=
DB_PASS=
DB_NAME=

JWT_SECRET=
JWT_EXPIRED_IN=
JWT_REFRESH_TOKEN_EXPIRED_IN=

CLOUNDINARY_CLOUND_NAME=
CLOUNDINARY_API_KEY=
CLOUNDINARY_API_SECRET=
CLOUNDINARY_FOLDER=

PORT_APP=
MAIL_SERVICE_PORT=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
